/* Set the styles for the container of the dynamic list */

.DynamicListContainer{
    /* height:100%; */
    width: 100%; /* Set the width of the container to be 100% of its parent's width */
    display: flex; /* Use flexbox to enable flexible layout and positioning of child elements */
    flex-direction: row; /* Arrange child elements in a row direction */
}

/* Set the styles for the container of each list item */
.listContainer{
    padding: 25px; /* Add padding around the list container to create space between elements */
    width: 30em; /* Set the width of each list container to be 30em */
}

/* Set the styles for the list items (li) */
li{
    font-family: sans-serif; /* Set the font family to a sans-serif font */
    font-size: 25px; /* Set the font size to be 25 pixels */
    color: white; /* Set the text color to white */
    margin-left: 22px; /* Set the left margin to create space on the left side of each list item */
    margin-top: 10px; /* Set the top margin to create space on the top side of each list item */
}

/* Set the styles for the close button within the list item */
.closeButton{
    margin-left: 5em; /* Set the left margin to position the close button away from the list item's content */
    font-weight: bold; /* Set the font weight to bold for the close button text */
    color: white; /* Set the text color to white for the close button */
    background-color: rgb(34, 13, 13); /* Set the background color for the close button using RGB values */
    border-color: rgb(34, 13, 13); /* Set the border color for the close button using RGB values */
    border-radius: 5pc; /* Set the border radius to create rounded corners for the close button */
    align-items: center; /* Align the content (text) of the close button horizontally to the center */
    justify-content: center; /* Justify the content (text) of the close button horizontally to the center */
    font-size: 25px; /* Set the font size to be 25 pixels for the close button text */
    height: 2em; /* Set the height of the close button to be 2em */
    width: 4em; /* Set the width of the close button to be 4em */
}
