.DynamicListContainer{
    /* height:100%; */
    width: 100%;
    display: flex;
    flex-direction: row;
}

.listContainer{
    padding: 25px;
    width: 30em;
}

li{
    font-family: sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 22px;
    margin-top: 10px;
}

.closeButton{
    margin-left: 5em;
    font-weight: bold;
    color: white;
    background-color: rgb(34, 13, 13);
    border-color: rgb(34, 13, 13);
    border-radius: 5pc;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 2em;
    width: 4em;
}
